{
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "host": "www.truckersearch.com",
  "info": {
    "contact": {
      "email": "support@truckersearch.com"
    },
    "description": "In order to use the Trucker Search API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.\n\napi-token=“SECRET KEY”\n\nPlease keep your api-token a secret. If the token is compromised please contact us to get a new one.\n\nThis api token authenticates your application and gives it access to the API.\n\nThe API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers.",
    "title": "Trucker Search API",
    "version": "1.0",
    "x-logo": {
      "url": "https://www.truckersearch.com/home/images/logo-2015.png"
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "description": "This token needs to be sent as a HTTP header argument in every request to our API.",
      "in": "header",
      "name": "api-token",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "x-restlet": {
    "sections": {
      "ALERTS": {},
      "END_USER_AUTHENTICATIONS": {},
      "FAVORITES": {},
      "JOBS": {},
      "LOCATIONS": {},
      "MESSAGES": {},
      "Mobile Update": {},
      "Optins": {},
      "PROFILES": {},
      "RESUMES": {},
      "common_definitions": {}
    }
  },
  "parameters": {
    "end-user-token": {
      "in": "header",
      "name": "end-user-token",
      "required": true,
      "type": "string"
    },
    "end-user-token-optional": {
      "in": "header",
      "name": "end-user-token",
      "required": false,
      "type": "string"
    }
  },
  "responses": {
    "error_422": {
      "description": "Unprocessable Entity. More information provided in the return object.",
      "schema": {
        "$ref": "#/definitions/error_object"
      }
    },
    "object_created": {
      "description": "Object created check the headers for a reference URL.",
      "schema": {
        "$ref": "#/definitions/create_status"
      }
    }
  },
  "paths": {
    "/alerts": {
      "x-restlet": {
        "section": "ALERTS",
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"X-RESTLET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/alerts\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "Method not supported"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/alerts\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/alerts\")\n  .method(\"X-RESTLET\", null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.customMethod(\"X-RESTLET\",\"https://www.truckersearch.com/v1/alerts\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/alerts\",\n  \"method\": \"X-RESTLET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"X-RESTLET\", \"https://www.truckersearch.com/v1/alerts\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"X-RESTLET\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'X-RESTLET',\n  url: 'https://www.truckersearch.com/v1/alerts',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"X-RESTLET\", \"https://www.truckersearch.com/v1/alerts\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/alerts\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"X-RESTLET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/alerts\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers (Code.method_of_string \"X-RESTLET\") uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"X-RESTLET\",\n\"https://www.truckersearch.com/v1/alerts\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/alerts\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"X-RESTLET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('X-RESTLET');\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/alerts');\n$request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/alerts');\n$request->setRequestMethod('X-RESTLET');\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"X-RESTLET\", \"/v1/alerts\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/alerts\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"X-RESTLET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nclass Net::HTTP::X-restlet < Net::HTTPRequest\n  METHOD = 'X-RESTLET'\n  REQUEST_HAS_BODY = 'false'\n  RESPONSE_HAS_BODY = true\nend\n\nurl = URI(\"https://www.truckersearch.com/v1/alerts\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::X-restlet.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request X-RESTLET \\\n  --url https://www.truckersearch.com/v1/alerts \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http X-RESTLET https://www.truckersearch.com/v1/alerts \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method X-RESTLET \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/alerts"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/alerts\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"X-RESTLET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      }
    },
    "/end_user_authentications": {
      "delete": {
        "parameters": [
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Status 204"
          }
        },
        "summary": "Log out.",
        "tags": [
          "end_user_authentications"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.truckersearch.com/v1/end_user_authentications\");\nvar request = new RestRequest(Method.DELETE);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .delete(null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.delete(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://www.truckersearch.com/v1/end_user_authentications\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'DELETE',\n  url: 'https://www.truckersearch.com/v1/end_user_authentications',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"DELETE\", \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"DELETE\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/end_user_authentications\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers `DELETE uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"DELETE\",\n\"https://www.truckersearch.com/v1/end_user_authentications\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/end_user_authentications\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setRequestMethod('DELETE');\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"DELETE\", \"/v1/end_user_authentications\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/end_user_authentications\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.truckersearch.com/v1/end_user_authentications\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request DELETE \\\n  --url https://www.truckersearch.com/v1/end_user_authentications \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http DELETE https://www.truckersearch.com/v1/end_user_authentications \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method DELETE \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/end_user_authentications"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/end_user_authentications\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"DELETE\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "properties": {
                "status": {
                  "enum": [
                    "premium_employer",
                    "driver",
                    "employer",
                    "not_logged_in",
                    "overdue_employer"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "status"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Get a users status.",
        "tags": [
          "end_user_authentications"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.truckersearch.com/v1/end_user_authentications\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://www.truckersearch.com/v1/end_user_authentications\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'GET',\n  url: 'https://www.truckersearch.com/v1/end_user_authentications',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"GET\", \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/end_user_authentications\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"GET\",\n\"https://www.truckersearch.com/v1/end_user_authentications\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/end_user_authentications\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setRequestMethod('GET');\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"GET\", \"/v1/end_user_authentications\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/end_user_authentications\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.truckersearch.com/v1/end_user_authentications\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request GET \\\n  --url https://www.truckersearch.com/v1/end_user_authentications \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http GET https://www.truckersearch.com/v1/end_user_authentications \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method GET \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/end_user_authentications"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/end_user_authentications\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "post": {
        "consumes": [],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "login": {
                  "type": "string"
                },
                "realm": {
                  "description": "email, username.",
                  "type": "string"
                },
                "secret": {
                  "type": "string"
                }
              },
              "required": [
                "login",
                "realm",
                "secret"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Status 201",
            "schema": {
              "$ref": "#/definitions/error_object"
            }
          },
          "422": {
            "description": "Status 422",
            "schema": {
              "properties": {
                "code": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "description",
                "error"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Log in.",
        "tags": [
          "end_user_authentications"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.truckersearch.com/v1/end_user_authentications\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddParameter(\"undefined\", \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\tpayload := strings.NewReader(\"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .post(body)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"login\": \"<ADD EXAMPLE VALUE>\",\n  \"realm\": \"<ADD EXAMPLE VALUE>\",\n  \"secret\": \"<ADD EXAMPLE VALUE>\"\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://www.truckersearch.com/v1/end_user_authentications\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"POST\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ login: '<ADD EXAMPLE VALUE>',\n  realm: '<ADD EXAMPLE VALUE>',\n  secret: '<ADD EXAMPLE VALUE>' }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'POST',\n  url: 'https://www.truckersearch.com/v1/end_user_authentications',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' },\n  body:\n   { login: '<ADD EXAMPLE VALUE>',\n     realm: '<ADD EXAMPLE VALUE>',\n     secret: '<ADD EXAMPLE VALUE>' },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"POST\", \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"login\": \"<ADD EXAMPLE VALUE>\",\n  \"realm\": \"<ADD EXAMPLE VALUE>\",\n  \"secret\": \"<ADD EXAMPLE VALUE>\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"login\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"realm\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"secret\": @\"<ADD EXAMPLE VALUE>\" };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/end_user_authentications\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\" in\n\nClient.call ~headers ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"POST\",\n\"https://www.truckersearch.com/v1/end_user_authentications\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\n$request->content('{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/end_user_authentications\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$request->setBody('{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}');\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\npayload = \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/v1/end_user_authentications\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/end_user_authentications\"\n\npayload = \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"POST\", url, data=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.truckersearch.com/v1/end_user_authentications\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"login\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"realm\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"secret\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request POST \\\n  --url https://www.truckersearch.com/v1/end_user_authentications \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --data '{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}'"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}' |  \\\n  http POST https://www.truckersearch.com/v1/end_user_authentications \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method POST \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --body-data '{\"login\":\"<ADD EXAMPLE VALUE>\",\"realm\":\"<ADD EXAMPLE VALUE>\",\"secret\":\"<ADD EXAMPLE VALUE>\"}' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/end_user_authentications"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\n  \"login\": \"<ADD EXAMPLE VALUE>\",\n  \"realm\": \"<ADD EXAMPLE VALUE>\",\n  \"secret\": \"<ADD EXAMPLE VALUE>\"\n]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/end_user_authentications\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "x-restlet": {
        "section": "END_USER_AUTHENTICATIONS",
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"X-RESTLET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "Method not supported"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .method(\"X-RESTLET\", null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.customMethod(\"X-RESTLET\",\"https://www.truckersearch.com/v1/end_user_authentications\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications\",\n  \"method\": \"X-RESTLET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"X-RESTLET\", \"https://www.truckersearch.com/v1/end_user_authentications\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"X-RESTLET\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'X-RESTLET',\n  url: 'https://www.truckersearch.com/v1/end_user_authentications',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"X-RESTLET\", \"https://www.truckersearch.com/v1/end_user_authentications\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"X-RESTLET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/end_user_authentications\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers (Code.method_of_string \"X-RESTLET\") uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"X-RESTLET\",\n\"https://www.truckersearch.com/v1/end_user_authentications\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/end_user_authentications\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"X-RESTLET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('X-RESTLET');\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications');\n$request->setRequestMethod('X-RESTLET');\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"X-RESTLET\", \"/v1/end_user_authentications\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/end_user_authentications\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"X-RESTLET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nclass Net::HTTP::X-restlet < Net::HTTPRequest\n  METHOD = 'X-RESTLET'\n  REQUEST_HAS_BODY = 'false'\n  RESPONSE_HAS_BODY = true\nend\n\nurl = URI(\"https://www.truckersearch.com/v1/end_user_authentications\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::X-restlet.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request X-RESTLET \\\n  --url https://www.truckersearch.com/v1/end_user_authentications \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http X-RESTLET https://www.truckersearch.com/v1/end_user_authentications \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method X-RESTLET \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/end_user_authentications"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/end_user_authentications\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"X-RESTLET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      }
    },
    "/end_user_authentications/email": {
      "patch": {
        "consumes": [],
        "parameters": [
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "email": {
                  "type": "string"
                }
              },
              "required": [
                "email"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Status 204"
          }
        },
        "summary": "Update Email",
        "tags": [
          "end_user_authentications"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"PATCH\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications/email\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.truckersearch.com/v1/end_user_authentications/email\");\nvar request = new RestRequest(Method.PATCH);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddParameter(\"undefined\", \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications/email\"\n\n\tpayload := strings.NewReader(\"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications/email\")\n  .patch(body)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.patch(\"https://www.truckersearch.com/v1/end_user_authentications/email\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications/email\",\n  \"method\": \"PATCH\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"email\": \"<ADD EXAMPLE VALUE>\"\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PATCH\", \"https://www.truckersearch.com/v1/end_user_authentications/email\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"PATCH\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications/email\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ email: '<ADD EXAMPLE VALUE>' }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'PATCH',\n  url:\n   'https://www.truckersearch.com/v1/end_user_authentications/email',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' },\n  body: { email: '<ADD EXAMPLE VALUE>' },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"PATCH\", \"https://www.truckersearch.com/v1/end_user_authentications/email\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"email\": \"<ADD EXAMPLE VALUE>\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"email\": @\"<ADD EXAMPLE VALUE>\" };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications/email\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"PATCH\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.truckersearch.com/v1/end_user_authentications/email\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\" in\n\nClient.call ~headers ~body `PATCH uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"PATCH\",\n\"https://www.truckersearch.com/v1/end_user_authentications/email\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\n$request->content('{\"email\":\"<ADD EXAMPLE VALUE>\"}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.truckersearch.com/v1/end_user_authentications/email\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://www.truckersearch.com/v1/end_user_authentications/email');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$request->setBody('{\"email\":\"<ADD EXAMPLE VALUE>\"}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"email\":\"<ADD EXAMPLE VALUE>\"}');\n\n$request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications/email');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.truckersearch.com\")\n\npayload = \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PATCH\", \"/v1/end_user_authentications/email\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.truckersearch.com/v1/end_user_authentications/email\"\n\npayload = \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"PATCH\", url, data=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.truckersearch.com/v1/end_user_authentications/email\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Patch.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"email\\\":\\\"<ADD EXAMPLE VALUE>\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request PATCH \\\n  --url https://www.truckersearch.com/v1/end_user_authentications/email \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --data '{\"email\":\"<ADD EXAMPLE VALUE>\"}'"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"email\":\"<ADD EXAMPLE VALUE>\"}' |  \\\n  http PATCH https://www.truckersearch.com/v1/end_user_authentications/email \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method PATCH \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --body-data '{\"email\":\"<ADD EXAMPLE VALUE>\"}' \\\n  --output-document \\\n  - https://www.truckersearch.com/v1/end_user_authentications/email"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\"email\": \"<ADD EXAMPLE VALUE>\"]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.truckersearch.com/v1/end_user_authentications/email\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"PATCH\"\nrequest.allHTTPHeaderFields = headers\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "x-restlet": {
        "section": "END_USER_AUTHENTICATIONS",
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"X-RESTLET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.truckersearch.com/v1/end_user_authentications/email\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "Method not supported"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications/email\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.truckersearch.com/v1/end_user_authentications/email\")\n  .method(\"X-RESTLET\", null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.customMethod(\"X-RESTLET\",\"https://www.truckersearch.com/v1/end_user_authentications/email\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.truckersearch.com/v1/end_user_authentications/email\",\n  \"method\": \"X-RESTLET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"X-RESTLET\", \"https://www.truckersearch.com/v1/end_user_authentications/email\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"X-RESTLET\",\n  \"hostname\": \"www.truckersearch.com\",\n  \"port\": null,\n  \"path\": \"/v1/end_user_authentications/email\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'X-RESTLET',\n  url:\n   'https://www.truckersearch.com/v1/end_user_authentications/email',\n  headers:\n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"X-RESTLET\", \"https://www.truckersearch.com/v1/end_user_authentications/email\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.truckersearch.com/v1/end_user_authentications/email\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"X-RESTLET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
[...]
